.form {
  margin-top: 36px;
}

.frase1,
.frase2 {
  width: 230px;
  border: 1px solid #D5D4D8;
  height: 35px;
  padding: 10px;
  color: #0D0D0D;
}

.frase1,
.frase2,
.btn {
  border-radius: 5px;
}

.text-input-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: block;
  width: 100%;
  margin-top: 15px;
  height: 40px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  cursor: pointer;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.memeImg-container {
  position: relative;
}